@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
* {
  margin: 0;
  padding: 0; }

.servicios2 {
  font-size: 13px;
  padding: 11px;
  text-align: center; }

.TablaFormulario {
  background-color: #413ea2;
  color: aliceblue;
  display: flex;
  align-content: center;
  padding: 2px 74px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.Logotipo {
  width: 50px;
  margin: 0 auto; }

.bg-light {
  background-color: white !important; }

.Opciones {
  display: flex;
  background-color: #2d2378;
  color: aliceblue;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0; }
  .Opciones li {
    list-style: none; }
  .Opciones a {
    /* sacar el subrayado */
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
    .Opciones a:hover {
      /* cuando pasa el mouse por encima */
      color: #eff308;
      font-weight: 400; }
    .Opciones a:visited {
      /* cuando pasa el mouse por encima */
      color: whitesmoke;
      font-weight: 400; }

.titleSidecom {
  text-decoration: none;
  color: #d43333;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 3rem; }

/* Pantallas extra pequeñas */
@media (max-width: 576px) {
  .Opciones {
    justify-content: center;
    width: 100%; }
    .Opciones a {
      font-size: 13px;
      margin-right: 5px; } }

/* Pantallas pequeñas(_sm) */
@media (min-width: 576px) {
  .Opciones a {
    font-size: 13px;
    margin-right: 5px; } }

/* Pantallas Medianas(md) */
/* Pantallas Grandes(lg) */
@media (min-width: 992px) {
  .Opciones a {
    margin-right: 54px; } }

/* Pantallas Extra Largas(xl) */
@media (min-width: 992px) {
  .Opciones a {
    margin-right: 54px; } }

.carousel-item img {
  height: 400px; }

.Servicios {
  margin: 20px 0px 10px 0px; }
  .Servicios h2 {
    animation-duration: 1s; }

.CuadrosServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.ItemServicios {
  background-color: #13e90f;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row; }

.block-Escolar {
  padding: 0 12px;
  width: 100%; }

.esc-sm-col-8 img {
  height: 200px; }

.esc-sm-col-4 {
  margin: 0 5px;
  background-color: #eeeeee; }
  .esc-sm-col-4 img {
    height: 400px; }

.separador img {
  max-width: 100%; }

.casa {
  font-size: 15px;
  padding: 11px; }

.Izipay {
  font-size: 13px;
  padding: 11px; }

.Atencion {
  font-size: 20px;
  padding: 16px; }

.Ofertas {
  margin: 20px 0px 10px 0px; }

.esc-row {
  display: flex;
  justify-content: space-around;
  align-content: space-around; }

.CuadrosOfertas div:hover {
  transform: scale(1.2);
  padding: 10px; }

.ItemOfertas {
  background-color: #0f3be9;
  width: 90%;
  height: 60px; }

/* Pantallas extra pequeñas */
@media (max-width: 576px) {
  .ItemServicios {
    margin: 10px; }
  .carousel-item img {
    height: 300px;
    width: 250px; }
  .esc-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 0px;
    margin: 15px; }
  .esc-col-6 {
    margin: 10px; }
  .esc-sm-col-4 img {
    height: 282px; }
  .ark {
    margin-top: 15px; }
  .mama {
    margin-top: 15px; } }

/* Pantallas pequeñas(_sm) */
@media (min-width: 576px) {
  .ItemServicios {
    margin: 10px; }
  .carousel-item img {
    height: 300px;
    width: 250px; }
  .esc-row {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 0px;
    margin: 15px; }
  .esc-col-6 {
    margin: 10px; }
  .esc-sm-col-4 img {
    height: 282px; }
  .ark {
    margin-top: 15px; }
  .mama {
    margin-top: 15px; }
  .shadow {
    margin: 20px; } }

/* Pantallas Medianas(md) */
/* Pantallas Grandes(lg) */
@media (min-width: 992px) {
  .ItemServicios {
    margin: 19px; } }

/* Pantallas Extra Largas(xl) */
@media (min-width: 992px) {
  .ItemServicios {
    margin: 19px; } }

.Footer {
  padding-top: 10px;
  /* asigna el keyframe */
  font-family: 'Times New Roman', Times, serif; }
  .Footer div {
    padding: 8px; }

.row {
  align-items: center; }

/* Pantallas extra pequeñas */
@media (max-width: 576px) {
  .TablaFormulario {
    background-color: #413ea2;
    color: aliceblue;
    display: flex;
    align-content: center;
    padding: 2px 74px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; } }

/* Pantallas pequeñas(_sm) */
@media (min-width: 576px) {
  .TablaFormulario {
    background-color: #413ea2;
    color: aliceblue;
    display: flex;
    align-content: center;
    padding: 2px 74px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; } }

/* Pantallas Medianas(md) */
/* Pantallas Grandes(lg) */
@media (min-width: 992px) {
  .TablaFormulario {
    padding: 7px 111px; } }

/* Pantallas Extra Largas(xl) */
@media (min-width: 992px) {
  .TablaFormulario {
    padding: 7px 111px; } }

.subTitle {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.Utiles {
  padding: 0 25px; }

.utilesElem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .utilesElem div {
    background-color: aqua;
    height: 350px;
    width: 200px;
    margin: 15px 5px; }

.Filtros {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start; }

/* Pantallas extra pequeñas */
@media (max-width: 576px) {
  .utilesElem div {
    height: 361px;
    width: 374px; } }

/* Pantallas pequeñas(_sm) */
@media (min-width: 576px) {
  .utilesElem div {
    height: 361px;
    width: 374px; } }

/* Pantallas Medianas(md) */
@media (min-width: 768px) {
  .utilesElem div {
    height: 361px;
    width: 394px; } }

/* Pantallas Grandes(lg) */
@media (min-width: 992px) {
  .utilesElem div {
    height: 361px;
    width: 414px; } }

/* Pantallas Extra Largas(xl) */
@media (min-width: 992px) {
  .utilesElem div {
    height: 361px;
    width: 474px; } }

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Formulario p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .Formulario label {
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif; }
  .Formulario h4, .Formulario h2 {
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden; }

.form input {
  height: 2.5rem;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  background-color: antiquewhite;
  margin-bottom: 10px; }
  .form input:focus {
    /* al hacerlo click en el formulario, solo funciona en los input */
    width: 300px;
    transition: 2s;
    background-color: white;
    margin: 15px;
    /* para que se acomode al tamaño dicho por los dos lados */ }

.form textarea {
  text-align: center;
  border-radius: 15px;
  background-color: antiquewhite;
  margin-bottom: 10px; }
  .form textarea:focus {
    /* al hacerlo click en el formulario, solo funciona en los input */
    width: 300px;
    transition: 2s;
    background-color: white;
    margin: 15px;
    /* para que se acomode al tamaño dicho por los dos lados */ }

.form input[type="submit"] {
  transform: skew(-10deg);
  transition: 2s; }
  .form input[type="submit"]:hover {
    background-color: black;
    color: aliceblue;
    transform: scale(1.2); }

.relative {
  margin-bottom: 15px;
  width: 200px; }

.shadow {
  box-shadow: 0px 10px 25px -1px rgba(48, 48, 48, 0.61);
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem; }

/* Pantallas pequeñas(_sm) */
@media (min-width: 576px) {
  .shadow {
    margin: 20px; } }
