%estilosParrafoServicios2{
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

%estiloParrafoFooter{
    background-color: #413ea2;
    color: aliceblue;
    display: flex;
    align-content: center;
    padding: 10px 50px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

%mediaUtilesElem{
    height: 361px;
      width:394px;
}