.subTitle{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: $font4;
  }

  .Utiles{
    padding: 0 25px;
  }
  
  .utilesElem{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   div{
    background-color: $color4;
    &:hover{
      background-color: rgb(226, 226, 226);
      transform: scale(1.05);
    }
    }
  }
  .propItem{
    font-size:0.85rem;
    text-align: left;
    font-family: "Playfair Display", serif;
  }
  .card__Precio{
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .Filtros{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

/* Pantallas extra pequeñas */
@media (max-width: 576px){
    
  }
  /* Pantallas Medianas(md) */
  @media (max-width: 768px){
    
  }
  /* Pantallas Extra Largas(xl) */
  @media (max-width: 992px){
    
  
  }