// FOOTER

.Footer {
    padding-top: 10px;
    /* asigna el keyframe */
    font-family: $font4;
    div {
        padding: 8px ;
      }
  }
  .filaFooter{
    align-items: center;
  }
  .TablaFormulario{
    @extend %estiloParrafoFooter;
  }

  @media (max-width: 992px){

    .TablaFormulario{
      padding: 20px 12px;
    }
  }