// MAIN

.carousel-item {
img{
    height: 400px;
  }
}
.Servicios {
    margin: 20px 0px 10px 0px;
    h2{
        animation-duration: 1s; 
      }
  }
  .servicios2{
    @extend %estilosParrafoServicios2;
    font-family: $font6;
  }
  .servicios3{
    @extend %estilosParrafoServicios2;
    font-family: $font6;
  }
  .Atencion{
    font-family: $font6;
  }
  .CuadrosServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .Descrip_Product{
    font-family: $font1;
  }
  .ItemServicios {
    @include fontstyle($colorItem);
    width: 300px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
  }
  .block-Escolar{
    padding:0 12px;
    width: 100%;
  }
  .esc-sm-col-8 {
    img{
    height:200px;
  }
    }
  .separador {
    img{
    max-width: 100%;
  }
    }
  .Calculadora .Stamp .Pilot .Chocolate1 .Chocolate2 .Rosa{
    width: 17rem;
  }
  .casa{
   font-size: 15px;
   padding: 11px;
  }
  .Izipay{
    font-size: 13px;
    padding: 11px;
  }
  .Atencion{
    font-size: 20px;
    padding: 16px;
  }
  
  .Ofertas {
    margin: 20px 0px 10px 0px;
  }
  
  .esc-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .CuadrosOfertas {
    div {
    &:hover {
    transform: scale(1.2);
    padding: 10px;
  }
}
}
  
.ItemOfertas {
    background-color: rgb(15, 59, 233);
    width: 90%;
    height: 60px;
  }

/* Pantallas extra pequeñas */
@media (max-width: 576px){
    .ItemServicios {
      margin: 10px;
    }
    .carousel-item {
        img{
      height: 300px;
    }}
    .esc-row{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      margin-top: 0px;
      margin:15px;
    }
    .esc-col-6 {
      margin:10px;
    }

    .esc-sm-col-4 {
        img {
      height: 282px;
    }
    }
  .ark{
    margin-top: 15px;
  }
  .mama{
    margin-top: 15px;
  }
  //   CONTACTO
  .shadow{
  margin: 20px;
  }
}
  /* Pantallas Medianas(md) */
  @media (max-width: 768px){
    .ItemServicios {
      width: 340px;
      height: 80px;
    }
    .carousel-item {
        img{
      height: 300px;
    }}
    .esc-col-6 {
      margin:10px;
    }

    .esc-sm-col-4 {
        img {
      height: 400px;
    }
    }
    .servicios2{
      font-size: 20px;
    }
    .servicios3{
      font-size: 17px;
    padding-top: 14px;
    }
    .Atencion{
      font-size: 24px;
      padding-top:18px;
    }
  .ark{
    margin-top: 15px;
  }
  .mama{
    margin-top: 15px;
  }
  //   CONTACTO
  .shadow{
  margin: 20px;
  }
  }
  /* Pantallas Grandes(lg) */
  @media (max-width: 992px){
    .ItemServicios {
      width: 340px;
      height: 80px;
        margin: 10px;
    }
    .esc-col-6 {
      margin:10px;
    }

    .esc-sm-col-4 {
        img {
      height: 400px;
    }
    }
    .servicios2{
      font-size: 20px;
    }
    .servicios3{
      font-size: 17px;
    padding-top: 14px;
    }
    .Atencion{
      font-size: 24px;
      padding-top:18px;
    }
  }
  @media (min-width: 992px){
    
    .esc-sm-col-4 {
      width: 30%;
    }
  }